@inject MainProto.MainProtoClient MainClient
@inject NavigationManager navigatorManager

@inject SingletonVariables variables

@if (render)
{
    <figure class="d-flex flex-row m-0 my-auto">
        @if (model.ProfilePicture != null)
        {
            <img class="my-auto" style="width: 2rem !important; height: 2rem !important; border-radius: 1rem;" src="@variables.uri/p/u/@(model.User.Id)/@(model.Image.FileName)" />
        }
        else
        {
            <img class="my-auto" style="width: 2rem !important; height: 2rem !important;" src="/p/No_image_available.svg" />
        }
        @if (model.User != null && !string.IsNullOrWhiteSpace(model.User.Id))
        {
            <figcaption class="my-auto ms-1">
                <a @onclick="GoToPerson" class="my-auto" href="/u/@(model.User.Username)">@model.User.Name</a>
            </figcaption>
        }
        else
        {
            <p>Error</p>
        }
    </figure>
}

@code {
    [Parameter] public string UserId { get; set; }

    private bool render = false;

    private MainProfilePictureModel model = new();

    protected override async Task OnInitializedAsync()
    {
        model = await MainClient.GetMainProfilePictureAsync(new Id { Id_ = UserId });

        render = true;
        StateHasChanged();
    }

    void GoToPerson()
    {
        navigatorManager.NavigateTo($"/u/{model.User.Username}", true);
    }
}
