@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<style>
    main {
        padding-bottom: 0rem;
    }

    body {
        background-color: #2C2E6B;
        padding: 0rem;
    }

    .container {
        padding: 0;
    }

    .button {
        margin: auto;
        margin-bottom: 0;
    }

    .link {
        color: #39b8a2;
    }
</style>

<div>
    <div class="d-flex">
        <a href="/petitions" class="btn btn-info m-2">Petitions</a>
        <a href="/home" class="btn btn-info m-2 ms-auto">Web App</a>
    </div>

    <div class="d-flex flexGroup" style="flex-direction: row;">
        <div class="card" id="mainCard">
            <div class="d-flex flex-row">

                <img src="/bootstrap-icons-1.9.0/brightness-high.svg" style="width: 3rem;" />
                <img class="card-img-top ms-0" src="icons/lumine8-logo.png" />
            </div>

            <div class="card-body">
                <ul>
                    <li>What is lumine8? Lumine8 is a social media platform that brings power to the people.</li>
                    <li>What do you mean? You can literally change the United States of America's constitution itself or any constitution.</li>
                    <li>Constitution: We the people have the right to assemble and to petition the government for a redress of grievances.</li>
                </ul>
            </div>
        </div>
    </div>

    <div style="background-color: #2B5678; padding: 1rem;">
        <h3>Why lumine8?</h3>
        <div class="d-flex flexGroup" style="flex-direction: row;">
            <div class="card">
                <div class="card-header">Other platforms</div>
                <div class="card-body">
                    <ul>
                        <li>Censor YOU</li>
                        <li>Restrict Accounts</li>
                        <li>Unenvenly enforce rules to fit their agenda</li>
                        <li>Sell and share your info</li>
                        <li>Limit who you connect with through their algorithms</li>
                    </ul>
                </div>
            </div>
            <span class="m-auto" style="color: white;">vs</span>
            <div class="card">
                <div class="card-header">lumine8</div>
                <div class="card-body">
                    <ul>
                        <li>Enjoy Freedom</li>
                        <li>Post your thoughts</li>
                        <li>Your Platform...Your Way!</li>
                        <li>Share with who YOU want</li>
                        <li>Be limitless...You are in Control</li>
                        <li>Has a petition system</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div style="padding: 1rem;">
        <h3>Technology</h3>

        <div class="d-flex flexGroup" style="flex-direction: row;">
            <div class="card">
                <img class="card-img-top" src="/bootstrap-icons-1.9.0/lock.svg" />
                <p class="card-body">Uses blockchain technology for authentication</p>
            </div>

            <div class="card">
                <img class="card-img-top" src="eth-diamond-purple.webp" style="width: 7rem;" />
                <p class="card-body">Accepts ethereum as payment (Planned)</p>
            </div>
        </div>
    </div>

    <div style="padding: 1rem; background-color: #2B5678;">
        <h3>About</h3>
        <div class="d-flex flexGroup" style="flex-direction: row;">
            <div class="card">
                <img class="card-img-top" src="/bootstrap-icons-1.9.0/people-fill.svg" alt="Bootstrap" width="32" height="32" />
                <p class="card-body">Create friends and groups</p>
            </div>
            <div class="card">
                <img class="card-img-top" src="/bootstrap-icons-1.9.0/chat-dots-fill.svg" alt="Bootstrap" width="32" height="32" />
                <p class="card-body">One-to-one conversations</p>
            </div>
            <div class="card" style="height: max-content;">
                <div class="card-header">Terms of Service</div>
                <div class="card-body">
                    <p>There is no Terms of Service. I don't believe in Terms of Services and neither should you because they're just shields against the little guys from lawsuits.</p>
                    <p>However, there is one simple rule here. No death threats.</p>
                </div>
            </div>
        </div>
    </div>

    <div style="padding: 1rem;">
        <h3>Downloads</h3>

        <div class="d-flex flexGroup" style="flex-direction: row;">
            <div class="card downloadsCard">
                <img class="card-img-top" src="/bootstrap-icons-1.9.0/windows.svg" style="filter: invert(38%) sepia(95%) saturate(5547%) hue-rotate(191deg) brightness(100%) contrast(102%)" />
                <p class="card-header">Coming soon</p>
                @*<a href="downloads/lumine8.exe" class="btn btn-primary button ms-2 mb-2" download="lumine8.exe">Download</a>*@
                <div class="card-body px-4">
                    <p>How to install</p>
                    <ol>
                        <li>Run installer</li>
                        <li>App may show software requirements upon launching</li>
                    </ol>
                </div>
            </div>
            <div class="card downloadsCard">
                <img class="card-img-top" src="/bootstrap-icons-1.9.0/android2.svg" style="filter: invert(100%) sepia(43%) saturate(3115%) hue-rotate(14deg) brightness(82%) contrast(86%)" />
                <p style="text-align: center; color: white;">Android 10+/API 29</p>
                <p class="card-header">Coming soon</p>
                @*<a href="downloads/com.lumine8.lumine8_maui-Signed.apk" class="btn btn-primary button ms-2 mb-2" download="com.lumine8.lumine8_maui-Signed.apk">Download</a>*@
                <div class="card-body px-4">
                    <p>How to install</p>
                    <ol>
                        <li>Tap Download</li>
                        <li>Allow browser to install apps</li>
                        <li>Tap Install</li>
                        <li>Tap Open</li>
                    </ol>
                </div>
            </div>
            <div class="card downloadsCard">
                <img class="card-img-top" src="/bootstrap-icons-1.9.0/apple.svg" style="filter: invert(1)" width="32" height="32" />

                <div class="card-header">
                    <p style="text-align: center; color: white; font-weight: initial">macOS 11+ (Big Slur)</p>
                    <p>Coming soon</p>
                    @*<div class="d-flex">
                        <a href="downloads/mac.pkg" class="btn btn-primary button ms-auto">pkg</a>
                        <a href="downloads/mac.app" class="btn btn-primary button">app</a>
                    </div>*@
                </div>
                <div class="card-body">
                    <p>How to install</p>
                    <ol>
                        <li>Copy or move the pkg or app file to the "Applications" folder</li>
                    </ol>
                </div>
            </div>
            <div class="card downloadsCard">
                <img class="card-img-top" src="/app-store-logo.webp" style="filter: invert(1); margin: inherit; height: auto;" />
                <p class="card-header" style="color: white; font-weight: initial;">iOS 14+</p>
                <p class="card-body">Coming soon</p>
            </div>
        </div>
    </div>

    <div style="background-color: #2B5678; padding: 1rem">
        <div class="card">
            <div class="card-header">Open source</div>
            <div class="card-body">
                <img style="width: 3rem;"src="/bootstrap-icons-1.9.0/github.svg" />
                <a class="link" href="https://github.com/ParkerRedford/lumine8-client">Client</a>
                <a class="mx-2 link" href="https://github.com/ParkerRedford/lumine8-web">Server</a>
                <a class="link" href="https://github.com/ParkerRedford/lumine8-shared">Shared</a>
                <a class="ms-2 link" href="https://github.com/ParkerRedford/lumine8-webassembly">WebAssembly (standalone)</a>
            </div>
        </div>
    </div>
</div>