@page "/"

<style>
    main {
        padding-bottom: 0rem;
    }

    body {
        background-color: #2C2E6B;
        padding: 0rem;
    }

    .container {
        padding: 0;
    }

    .button {
        margin: auto;
        margin-bottom: 0;
    }

    .link {
        color: #39b8a2;
    }

    .mainUL li {
        list-style: none;
        margin: 1rem 0;
        font-weight: bolder;
    }

    #mainCard {
        margin: 1rem;
    }

    p {
        color: white;
    }

    @@media only screen and (min-width: 920px) {
        #mainCard {
            margin: 1rem auto;
        }

        #terms {
            width: 50% !important;
        }
    }
</style>

<div>
    <div class="d-flex">
        <a href="/petitions" class="btn btn-info m-2">Petitions</a>
        <a href="/home" class="btn btn-info m-2 ml-auto">Web App</a>
    </div>

    <div class="d-flex flexGroup" style="flex-direction: row;">
        <div class="card" id="mainCard">
            <div class="d-flex flex-row">
                <img src="/bootstrap-icons-1.9.0/brightness-high.svg" style="width: 3rem;" />
                <img class="card-img-top ms-0" src="icons/lumine8-logo.png" />
            </div>

            <div class="card-body">
                <ul class="mainUL">
                    <li>What is lumine8? Lumine8 is a social media platform that brings power to the people.</li>
                    @*<li>What do you mean? You can literally change the United States Constitution itself, the European Union Constitution, or any Constitution through petitions.</li>*@
                    <li><q style="font-size: 20pt; font-style: italic; font-weight: initial; font-family: 'Old English Text MT'">We the People</q> have the right to assemble and to petition the government for a redress of grievances. </li>
                    <li>Petition: <a class="link" href="/petition/34d38b8c-5506-4304-b3ed-6706dac1c1ff">Abolish the United States Constitution, and establish a new Constitution.</a></li>
                </ul>
                
                <p>Everything on this platform is free, but signing and creating petitions require $4.99/yr (coming soon). You'll need to setup and use an address in the meantime.</p>
            </div>
        </div>
    </div>

    <div style="background-color: #2B5678; padding: 1rem; color: white;">
        <h2 style="text-align: center; font-size: 16pt;">Interested in a new constitution? Keep reading; otherwise, this platform may not be for you.</h2>
        <h3>Proposals for the new Constitution</h3>
        <p>Reasons to petition for a new constitution. Our current constitution limits our rights to speech, expression, press, religion, assembly, and petition. On top of that, the constitution has restricted the government not to interfere with bill of rights issues toward private entities. This proposed constitution shall give more rights to the people and allow the government to interfere only if those private entities are infringing the rights of the people.</p>
        <ol>
            <li>First Amendment: Freedom of speech, expression, press, assembly, petition, vote, religion, liberty, political ideology, competition, privacy, commerce, trade, and doing business</li>
            <li>Private entities that provide services on the internet intended for public use shall not infringe on the rights of the people outlined in the Constitution; examples are social media, fact checkers, forum sites, banks, domain registrars, web hosting services, petition sites, email providers (free and paid), data storage providers, etc</li>
            <li>Right to own an authentication private/public key pair instead of a social security number. This right should reinforce the fourth amendment rights</li>
            <li>There shall be no mail-in ballots nor closed source license software to vote for public representatives</li>
            <li>Every public representative shall have term limits</li>
            <li>Your private key shall be your signature to sign a vote or petition</li>
            <li>Second amendment: Right to own and bare weapons</li>
            <li>Your digital information for a service cannot be sent to another service unless the provider for that service owns both of the services</li>
            <li>If you no longer use a particular service provider, that service provider must delete your information only if that information contains transaction details</li>
            <li>Service providers cannot evade or restrict your access to their services if you owe them money; otherwise, you do not owe them money</li>
            <li>The government shall not send gifts to other nations unless it is related to war</li>
            <li>Our taxpayer money shall not be spent on frivolous projects</li>
            <li>Bills shall not exceed 10 pages, or the bill must be read and understood from everyone before the week of voting</li>
            <li>Higher education shall not hand out frivolous certificates and degrees</li>
        </ol>
    </div>

    <div style="padding: 1rem;">
        <h3>This petition shall have some expectations</h3>
        <div class="d-flex flexGroup" style="flex-direction: row; justify-content: space-around;">
            <div class="card">
                <p class="card-header">Expect this petition will:</p>
                <div class="card-body">
                    <ol>
                        <li>Abolish or <q>attack</q> the Constitution peacefully and constitutionally</li>
                        <li>Establish a new government under your choice of leadership and structure</li>
                        <li>Abolish the 3 branches of government (Executive, Legislative, and Judicial)</li>
                        <li>Remove or payoff our national debt</li>
                        <li>Become a threat to the government because they can't do anything about it</li>
                        <li>Expose the great deception and corruption</li>
                        <li>Prove we don't have a Consitution in an unprecedent manner</li>
                    </ol>
                </div>
            </div>
            <div class="card">
                <p class="card-header">Expect this petition will not:</p>
                <div class="card-body">
                    <ol>
                        <li>Reinstate Trump back in office for a second term</li>
                        <li>Overturn the election results</li>
                        <li>Be an explosive evidence and truth bombshell to expose the government</li>
                        <li>Overthrow the government</li>
                        <li>Be an antisemitic, racist, cult, or virtue signaling movement</li>
                        <li>Cleanse the White House</li>
                        <li>Put an end to the Biden adminstration</li>
                        <li>Give a title of <q>Protector of the Constitution</q>; only <q>We the People</q> give no such title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: #2B5678; padding: 1rem;">
        <h3>Why lumine8?</h3>
        <div class="d-flex flexGroup" style="flex-direction: row;">
            <div class="card">
                <div class="card-header">Other platforms</div>
                <div class="card-body">
                    <ul>
                        <li>Censor YOU</li>
                        <li>Restrict Accounts</li>
                        <li>Unenvenly enforce rules to fit their agenda</li>
                        <li>Sell and share your info</li>
                        <li>Limit who you connect with through their algorithms</li>
                    </ul>
                </div>
            </div>
            <span class="m-auto" style="color: white;">vs</span>
            <div class="card">
                <div class="card-header">lumine8</div>
                <div class="card-body">
                    <ul>
                        <li>Enjoy Freedom</li>
                        <li>Post your thoughts</li>
                        <li>Your Platform...Your Way!</li>
                        <li>Share with who YOU want</li>
                        <li>Be limitless...You are in Control</li>
                        <li>Has a petition system</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div style="padding: 1rem;">
        <h3>Technology</h3>

        <div class="d-flex flexGroup" style="flex-direction: row;">
            <div class="card">
                <img class="card-img-top" src="/bootstrap-icons-1.9.0/lock.svg" />
                <p class="card-body">Uses blockchain technology for authentication</p>
            </div>

            <div class="card">
                <img class="card-img-top" src="eth-diamond-purple.webp" style="width: 7rem;" />
                <p class="card-body">Accepts ethereum as payment (Planned)</p>
            </div>
        </div>
    </div>

    <div style="background-color: #2B5678; padding: 1rem;">
        <h3>About</h3>
        <div class="d-flex flexGroup" style="flex-direction: row;">
            <div class="card">
                <img class="card-img-top" src="/bootstrap-icons-1.9.0/people-fill.svg" alt="Bootstrap" width="32" height="32" />
                <p class="card-body">Create friends and groups</p>
            </div>
            <div class="card">
                <img class="card-img-top" src="/bootstrap-icons-1.9.0/chat-dots-fill.svg" alt="Bootstrap" width="32" height="32" />
                <p class="card-body">One-to-one conversations</p>
            </div>
            <div class="card" id="terms" style="height: max-content;">
                <div class="card-header">Terms of Service</div>
                <div class="card-body">
                    <p>There is no Terms of Service. I don't believe in Terms of Services and neither should you because they're just shields against the little guys from lawsuits.</p>
                    <p>However, there is one simple rule. Don't cause problems.</p>
                </div>
            </div>
        </div>
    </div>

    <div style="padding: 1rem;">
        <h3>Downloads</h3>

        <div class="d-flex flexGroup" style="flex-direction: row;">
            <div class="card downloadsCard">
                <img class="card-img-top" src="/bootstrap-icons-1.9.0/windows.svg" style="filter: invert(38%) sepia(95%) saturate(5547%) hue-rotate(191deg) brightness(100%) contrast(102%)" />
                <p class="card-header">Coming 2024</p>
                @*<a href="downloads/lumine8.exe" class="btn btn-primary button ms-2 mb-2" download="lumine8.exe">Download</a>*@
                <div class="card-body px-4">
                    <p>How to install</p>
                    <ol>
                        <li>Run installer</li>
                        <li>App may show software requirements upon launching</li>
                    </ol>
                </div>
            </div>
            <div class="card downloadsCard">
                <img class="card-img-top" src="/bootstrap-icons-1.9.0/android2.svg" style="filter: invert(100%) sepia(43%) saturate(3115%) hue-rotate(14deg) brightness(82%) contrast(86%)" />
                <p style="text-align: center; color: white;">Android 10+/API 29</p>
                <p class="card-header">Coming 2024</p>
                @*<a href="downloads/com.lumine8.lumine8_maui-Signed.apk" class="btn btn-primary button ms-2 mb-2" download="com.lumine8.lumine8_maui-Signed.apk">Download</a>*@
                <div class="card-body px-4">
                    <p>How to install</p>
                    <ol>
                        <li>Tap Download</li>
                        <li>Allow browser to install apps</li>
                        <li>Tap Install</li>
                        <li>Tap Open</li>
                    </ol>
                </div>
            </div>
            <div class="card downloadsCard">
                <img class="card-img-top" src="/bootstrap-icons-1.9.0/apple.svg" style="filter: invert(1)" width="32" height="32" />

                <div>
                    <p style="text-align: center; color: white; font-weight: initial">macOS 11+ (Big Slur)</p>
                    <p class="card-header">Coming 2024</p>
                    @*<div class="d-flex">
                    <a href="downloads/mac.pkg" class="btn btn-primary button ms-auto">pkg</a>
                    <a href="downloads/mac.app" class="btn btn-primary button">app</a>
                    </div>*@
                </div>
                <div class="card-body">
                    <p>How to install</p>
                    <ol>
                        <li>Copy or move the pkg or app file to the "Applications" folder</li>
                    </ol>
                </div>
            </div>
            <div class="card downloadsCard">
                <img class="card-img-top" src="/app-store-logo.webp" style="filter: invert(1); margin: inherit; height: auto;" />
                <p style="text-align: center; color: white; font-weight: initial;">iOS 14+</p>
                <p class="card-header">Coming 2024</p>
                <div class="card-body"></div>
            </div>
        </div>
    </div>

    <div style="background-color: #2B5678; padding: 1rem">
        <div class="card">
            <div class="card-header">Open source</div>
            <div class="card-body">
                <img style="width: 3rem;" src="/bootstrap-icons-1.9.0/github.svg" />
                <a class="link" href="https://github.com/ParkerRedford/lumine8-client">Client</a>
                <a class="ms-2 link" href="https://github.com/ParkerRedford/lumine8-webassembly">WebAssembly (standalone)</a>
            </div>
        </div>
    </div>
</div>

@code {

    }
