.card, nav, h2, form, fieldset {
    border-radius: 0.75rem !important;
}

.card-header {
    border-radius: 1rem 1rem 0 0 !important;
}

.page-link {
    border: none;
}

.active {
    border-bottom: 2px solid #494055;
}

.btn {
    width: max-content;
    max-width: max-content;
}

input, h2, .form-control {
    border-radius: 0.5rem !important;
    padding: 0.5rem !important;
}

.btn {
    border-radius: 0.5rem !important;
    padding: 0 !important;

    &-info-fill, &-success-fill, &-danger-fill, &-primary-fill {
        padding: 0.5rem !important;
    }
}

input[type=file] {
    border-radius: 0rem !important;
}

header nav {
    border-radius: inherit !important;
}

.rz-html-editor-toolbar {
    border-radius: 0 0 1rem 1rem !important;
}

form.card.card-header {
    border-radius: 1rem !important;
}

.rz-html-editor-button {
    padding: 0.5rem !important;
}

.rz-html-editor, .rz-html-editor-content {
    border-radius: 1rem;
}

.rz-button, rz-button-md {
    padding: revert !important;
}

.list-group-item {
    border: none;
}

@media (max-width: 768px) {
    #pp {
        flex-direction: column !important;
    }

    #imgRow {
        margin: auto !important;
    }

    #mobilenav {
        display: flex;
    }

    nav li {
        padding: 0;
    }

    li {
        border-bottom: 1px solid white;
        width: 100%;
        text-align: left;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #desktopnav {
        display: none;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
    }

    #closeModal {
        margin: 0 !important;
    }

    .afterFeed {
        width: 100% !important;
    }

    .container {
        margin-top: 3rem !important;
    }
}

@media (min-width: 769px) {
    #pp {
        flex-direction: row !important;
    }

    #rooms, #b {
        max-width: 640px;
    }

    #mobilenav {
        display: none;
    }

    #desktopnav {
        display: flex;
    }

    .arrow {
        cursor: pointer;
        user-select: none;
    }
}
