@page "/Account/Payment"

@layout AccountLayout

<h3>Payment Card</h3>

<p>Policy on account verification and signing petitions. This policy is set in place to add validity toward petitions.</p>
<ul>
    <li>Your account name must match the name on your card.</li>
    <li>You will lose your verified account status and your signed petitions if you change or modify your account name (you must reverify).</li>
    <li>You will lose your verified account status and your signed petitions if you remove, delete, or modify your card from your account (you must reverify).</li>
    <li>You cannot use one card for multiple accounts.</li>
    <li>You can change a card to a different account if the last payment was longer than 12 months or you have deleted or removed the card from your account.</li>
    <li>You will not lose your verified account status and your signed petitions if you have not made a payment in the last 12 months.</li>
    <li>You cannot sign petitions if you have not made a payment in the last 12 months.</li>
</ul>

<h3>Coming soon</h3>
<p>Payments are $4.99/yr</p>

@code {

}
