<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Account.AccountLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Account.AccountLayout)">
            <p>Page not found</p>
        </LayoutView>
    </NotFound>
</Router>
